<h1>Hello!</h1>

<!-- if they are connected to stripe, they can make the campaign live, show you are connected! 
  else show button to connect to stripe
-->

<% if @user.connected_to_stripe? %>

<h4>You are connected to stripe! You are all set to make this campaign live!</h4>

<% else %>

<a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;client_id=<%=ENV['CLIENT_ID'] %>&amp;scope=read_write" class="stripe-connect btn btn-primary"><span>Connect with Stripe</span></a>

<% end %>

<% @user.pending_campaigns.each do |campaign|  %>
  <%= render campaign %>
  <%= button_to "Edit", edit_campaign_path(campaign), :class => "btn btn-warning", :method => :get %>
  <%= button_to "Launch", launch_path(campaign), :class => "btn btn-success", :method => :post %>
<% end %>