<h1 class="awesome">GiftBuddy</h1>
<br>
<br>
<br>

<div class="container">

<%= render partial: 'campaigngallerywslider' %>

</div>


<footer>
<div class="container">
  
  <!-- COMPANY ADDRESS-->
  <div class="col-md-5 company-details">
    <div class="icon-top red-text">
        <i class="icon-fontawesome-webfont-302"></i>
    </div>
    11 Wall Street New York
  </div>
  <!-- COMPANY EMAIL-->
  <div class="col-md-2 company-details">
    <div class="icon-top green-text">
    <i class="icon-fontawesome-webfont-329"></i>
    </div>
     blythe@flatironschool.com
  </div>
</div>


  <!-- SOCIAL ICON AND COPYRIGHT -->
  <div class="col-lg-3 col-sm-3 copyright">
    <ul class="social">
      <li><a href=""><i class="icon-facebook"></i></a></li>
      <li><a href=""><i class="icon-twitter-alt"></i></a></li>
      <li><a href=""><i class="icon-linkedin"></i></a></li>
      <li><a href=""><i class="icon-behance"></i></a></li>
      <li><a href=""><i class="icon-dribbble"></i></a></li>
    </ul>
</div>
</footer>
