<!-- <h1 class="awesome">GiftBuddy</h1> -->
  <!-- <br> -->
  <!-- <br> -->
  <!-- <br> -->

  <div class="jumbotron">
      <h1>Get stuff you really want</h1>
      <p>Stop giving cheapo gifts. GiftBuddy is a great way to pool together your money.</p>
      <p><a class="btn btn-primary btn-lg" href="/sign-up" role="button">Start A Campaign</a></p>
  </div>



<div class="container">
  <%= render partial: 'campaigngallerywslider' %>
</div>

