<%= render @campaign %>
<% if logged_in? && current_user.id == @campaign.receiver_id %>
  <div class="container">
    <div class="row">
      <%= button_to "Edit", edit_campaign_path(@campaign), :class => "btn btn-warning col-md-6", :method => :get %>
    <% if current_user.connected_to_stripe? && @campaign.status=="Pending"  %>
      <%= button_to "Launch", launch_path(@campaign), :class => "btn btn-success col-md-6", :method => :post %>      
    <% elsif @campaign.status=="Pending" %>
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;client_id=<%=ENV['CLIENT_ID'] %>&amp;scope=read_write" class="btn btn-info col-md-6">You must connect to Stripe before you can launch this campaign</a>
    <% end %>

    </div>
  </div>
<%end%>

